// @media all and (max-width: 1199px) {
//
// }
//
// @media all and (max-width: 991px) {
// }
//
// @media all and (max-width: 768px) {
//
// }
// @media all and (max-width: 575px) {
//
// }

@media all and (max-width: 991px) {
  .about-profile {
    align-items: center;
    flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .about-body {
    padding: 0;
    width: 100%;
  }
}

@media all and (min-width: 576px) {
  .about-body {
    padding: 20px;
  }

  .about-title {
    font-size: 4em;
    margin: 20px auto;
  }

  .about-quote {
    font-size: 2em;
    margin: 10px;
    padding: 10px 20px;
  }

  .about-text {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 575px) {
  .about-picture {
    transform: scale(.75, .75);
  }

  .about-title {
    font-size: 3em;
  }

  .about-quote {
    font-size: 1.4em;
  }
}
