.about-wrapper {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 62px;

  .about-title {
    font-weight: bold;
  }

  .about-profile {
    display: flex;
    height: auto;

    .about-body {
      width: auto;

      .about-quote {
        font-style: italic;
        text-align: center;
      }

      .about-text {
        margin: 10px;
        padding: 10px 20px;
      }
    }
  }

  .about-picture {
    border-radius: 50%;
    box-shadow: 0 0 20px $black;
    height: 300px;
    justify-content: center;
    margin: auto;
    padding: 0;
    transition: transform 1.5s;
    width: 300px;

    &:hover {
      transform: rotateY(720deg);
    }

    img {
      height: 100%;
    }
  }
}
