.about-wrapper {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 62px;

  .about-title {
    font-size: 4em;
    font-weight: bold;
    margin: 10px;
  }

  .about-profile {
    display: flex;
    padding: 10px;

    .about-body {
      padding: 20px;
      width: 55vw;

      .about-quote {
        font-size: 2em;
        font-style: italic;
        margin: 10px;
        padding: 10px 20px;
      }

      .about-text {
        font-size: 1.5em;
        margin: 10px;
        padding: 10px 20px;
      }
    }
  }

  .about-picture {
    border-radius: 50%;
    box-shadow: 0 0 20px $black;
    height: 300px;
    margin: 10px 20px;
    padding: 0;
    transition: height 1.5s;

    &:hover {
      height: 400px;
    }

    img {
      height: 100%;
    }
  }
}
