.contact-wrapper {
  align-items: center;
  background-color: $internetblack;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 62px;

  .contact-title {
    font-size: 4em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }

  .contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;

    .contact-btns-row {
      display: flex;
      justify-content: center;
      width: 80vw;
    }
  }
}

.contact-btn {
  color: $paleaqua;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 50px;

  .contact-icon {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 10px $black;
    display: flex;
    font-size: 300%;
    height: 200px;
    justify-content: center;
    margin: 0 10px;
    padding: 0 20px;
    width: 200px;

    &:hover {
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
      animation-name: bounceIcon;
      animation-timing-function: cubic-bezier(.28, .84, .42, 1);
    }

    img {
      height: 60%;
    }

    @keyframes bounceIcon {
      0%   { transform: scale(1, 1)      translateY(0); }
      10%  { transform: scale(1.1, .9)   translateY(0); }
      30%  { transform: scale(.9, 1.1)   translateY(-50px); }
      50%  { transform: scale(1.05, .95) translateY(0); }
      57%  { transform: scale(1, 1)      translateY(-7px); }
      64%  { transform: scale(1, 1)      translateY(0); }
      100% { transform: scale(1, 1)      translateY(0); }
    }

  }

  .contact-name {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}
