.footer-wrapper {
  align-items: center;
  background-color: $turqoise;
  display: flex;
  font-family: 'Open Sans';
  height: auto;
  justify-content: space-between;
  padding: 20px 30px;

  .footer-credit {
    text-align: right;
  }
}
