$white: #fff;
$paleaqua: #b9d6f2;
$spacecadet: #18314f;
$carminepink: #ef6f6c;
$myrtlegreen: #297373;
$black: #000;
$turqoise: #55dde0;

@import './devicons';
@import './Menu';
@import './Intro';
@import './About';
@import './Skills';

body {
  background-attachment: fixed;
  background-image: url('../img/DesertNightStars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}
