$white: #fff;
$gray: #808080;
$paleaqua: #b9d6f2;
$spacecadet: #18314f;
$carminepink: #ef6f6c;
$myrtlegreen: #297373;
$black: #000;
$internetblack: #333;
$brickred: #19262e;
$turqoise: #55dde0;
$transparent-space: rgba(0, 32, 54, .8);

@import './devicons';
@import './Parallax';
@import './Menu';
@import './Intro';
@import './About';
@import './Skills';
@import './Projects';
@import './Contact';
@import './Footer';

html,
body {
  background-color: $brickred;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  overflow: scroll;
  padding: 0;
  scroll-behavior: smooth;
}

#browser {
  background-attachment: fixed;
  background-color: $brickred;
  background-image: url('../img/DesertNightStars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
