.intro-wrapper {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  text-shadow: 0 0 20px $black;

  .intro-name {
    font-size: 4em;
  }

  .intro-header {
    font-size: 2em;
    font-style: italic;
  }

  .intro-location {
    font-size: 2em;
  }
}
