.intro-wrapper {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transform: translateY(40%);
  // justify-content: center;

  .intro-name {
    font-size: 4em;
    font-weight: bold;
  }

  .intro-header {
    font-size: 2em;
  }

  .intro-location {
    font-size: 2em;
  }
}
