.navbar {
  color: $white;
  font-family: 'Source Sans Pro';
  height: auto;
  transition: background-color .5s;

  &:hover {
    background-color: $transparent-space;
  }

  .nav-item {
    font-size: 2em;
    margin-left: 10px;
  }

  .nav-link {
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}
