// @media all and (max-width: 1199px) {
//
// }
//
// @media all and (max-width: 991px) {
// }
//
// @media all and (max-width: 768px) {
//
// }
// @media all and (max-width: 575px) {
//
// }

@media all and (min-width: 769px) {
  .navbar {
    height: 70px;
  }
}

@media all and (max-width: 768px) {
  .navbar {
    background-color: $transparent-space;
    height: 56px;
  }
}
