.projects-wrapper {
  color: $white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 62px;
  text-align: center;

  .projects-title {
    font-weight: bold;
    height: inherit;
    margin-top: 10px;
  }
}

.project-wrapper {
  padding: 0;
}

.project-item {
  background-color: $transparent-space;
  border-radius: 20px;
  box-shadow: 0 0 40px $black;
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  overflow: hidden;

  .project-photo {
    overflow: scroll;
    padding: 0;

    img {
      width: 100%;
    }
  }

  .project-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    padding-bottom: 10px;
    // width: 55%;

    .project-title {

      .project-link {
        border-bottom: 2px transparent solid;
        font-size: .3em;

        &:hover {
          border-bottom: 2px $turqoise solid;

          a {
            color: $turqoise;
          }
        }

        a {
          color: $gray;
          text-decoration: none;
        }
      }
    }
  }
}


.project-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    color: $gray;
    margin: 0 5px;
    transition: color .5s, text-shadow .5s;

    &:hover {
      color: $white;
      text-shadow: 0 0 20px $turqoise;
    }
  }
}

.project-repos {
  align-items: center;
  display: flex;

  a {
    color: $paleaqua;
    margin: 0 20px;
  }
}

.project-2,
.project-4 {
  flex-direction: row-reverse;
}
