.projects-wrapper {
  color: $white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 62px;
  text-align: center;

  .projects-title {
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    height: inherit;
    margin-top: 10px;
  }
}

.project-wrapper {
  padding: 0;
}

.project-item {
  background-color: $transparent-space;
  border-radius: 20px;
  box-shadow: 0 0 40px $black;
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  overflow: hidden;

  .project-photo {
    overflow: scroll;
    padding: 0;

    img {
      width: 100%;
    }
  }

  .project-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    padding-bottom: 10px;

    .project-summary {
      font-family: 'Open Sans';
      font-weight: lighter;
    }
  }
}

.project-link {
  border-bottom: 2px transparent solid;
  font-family: 'Open Sans';
  font-size: .3em;
  font-weight: lighter;

  &:hover {
    border-bottom: 2px $turqoise solid;

    a {
      color: $turqoise;
      text-decoration: none;
    }
  }

  a {
    color: $gray;
    text-decoration: none;
  }
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    color: $gray;
    margin: 0 5px;
    transition: color .5s, text-shadow .5s;

    &:hover {
      color: $white;
      text-shadow: 0 0 20px $turqoise;
    }
  }
}

.project-repos {
  align-items: center;
  display: flex;
  font-family: 'Open Sans';
  font-weight: lighter;

  a {
    color: $paleaqua;
    margin: 0 20px;
  }
}

.project-2,
.project-4 {
  flex-direction: row-reverse;
}

.project-1 {
  .project-title {
    font-family: 'Source Sans Pro';
    font-weight: bolder;
  }
}

.project-2 {
  .project-title {
    font-family: 'Chelsea Market';
  }
}

.project-3 {
  .project-title {
    font-family: 'Montserrat';
  }
}

.project-4 {
  .project-title {
    font-family: 'Bungee Shade';
  }
}
