.skills-wrapper {
  color: $white;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  min-height: 100vh;
  padding-top: 62px;
  text-align: center;

  .skills-title {
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    margin: 10px;
  }
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .skill-item {
    margin: 10px auto;

    .skill-icon {
      align-items: center;
      background-color: $white;
      border: 5px solid $white;
      border-radius: 50%;
      box-shadow: 0 0 20px $black;
      display: flex;
      justify-content: center;
      transition: transform 1s, border-radius 1s, border 1s;

      span {
        color: $spacecadet;
      }
    }

    .skill-text {
      font-family: 'Open Sans';
      font-size: 1.5em;
      font-weight: lighter;
      text-shadow: 0 0 5px $black;
      transition: color 1s;
    }

    &:hover {
      .skill-icon {
        border: 5px solid $turqoise;
        border-radius: 10%;
        transform: rotate3d(1, 1, 1, 1turn);
      }

      .skill-text {
        color: $turqoise;
      }
    }
  }
}
