@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: lighter;
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: lighter;
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Light.ttf') format('truetype') font-weight(lighter);
}
@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-Bold.ttf') format('truetype') font-weight(bolder);
}
@font-face {
  font-family: 'Hind';
  src: url('./fonts/Hind/Hind-SemiBold.ttf') formta('truetype') font-weight(bold);
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: lighter;
  src: url('./fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Chelsea Market';
  src: url('./fonts/Chelsea_Market/ChelseaMarket-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bungee Shade';
  src: url('./fonts/Bungee_Shade/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf') format('truetype');
}
